@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
    font-family: "Roboto Slab", serif;
}

@import "tailwindcss";
@plugin "daisyui";

a.active {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: 600;
    @apply btn-sm bg-red-400
}